body{

    margin: 0;
    background-color: solid white;
    font-family: 'Times New Roman';
    
    }
    
    .container{
    
    width: 350px;
    margin: 100px auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px;
    text-align: center;
    
    }
    
    .title{
    
    margin: 20px;
    
    }
    
    .form{
    
    text-align: left;
    
    }
    
    
    
    .input{
    
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    
    }
    
    .btn{
    
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    
    }
    
    .text{
    
    
    margin-top: 15px;
    
    }
    
    .link{
    
        color: #4CAF50
    }